<div class="container">
      <div class="row">
        <div class="col-xl-12">
          <h1 class="admin-title">Заказы</h1>
          <div class="btns">
            <button class="data">
              <img src="./public/svg/data.svg" alt="" />
            </button>
            <button class="day">
              Сегодня
              <div class="notification">10</div>
            </button>
            <button class="day">
              5 апреля
              <div class="notification">10</div>
            </button>
            <button class="day">
              1 апреля
              <div class="notification">10</div>
            </button>
          </div>
          <div class="snd">
            <h1 class="admin-title-nd">
              <img class="clock" src="./public/svg/clock.svg" alt="" /> 11:00
            </h1>
            <div class="full">
              <h3 class="blender">
                <img
                  style="margin-right: 13.5px"
                  src="./public/svg/bird.svg"
                  alt=""
                />
                5 / 5
              </h3>
            </div>
          </div>
          <div class="map d-flex">
            <button class="application">
              Усть-Ижма
              <div class="notification">10</div>
            </button>
            <button class="application">
              Галово
              <div class="notification">10</div>
            </button>
          </div>

          <section class="panels">
            <div class="client justify-content-between">
              <div class="col-xl-3 d-flex align-items-center">
                <div id="num">355</div>
                <div
                  style="color: #232323; font-weight: 400; font-size: 16px"
                  id="account"
                >
                  <img src="./public/images/avatar.png" alt="" />
                  Антон
                </div>
              </div>

              <div
                style="margin-right: -100px"
                class="col-xl-7 d-flex align-items-center"
              >
                <div id="number">
                  <img src="./public/svg/phone.svg" alt="" /> +7 912 888 77 55
                </div>
                <div id="btn">
                  <img
                    width="21px"
                    src="./public/svg/check.svg"
                    alt=""
                  />Подтвержден
                  <img width="24px" src="./public/svg/checkdown.svg" alt="" />
                </div>
                <div id="btnView">
                  <img
                    width="21px"
                    src="./public/svg/eye.svg"
                    alt=""
                  />Подтвержден
                </div>
                <div id="comment">
                  <img src="./public/svg/comment.svg" alt="" />
                </div>
              </div>
            </div>

            <div class="client justify-content-between">
              <div class="col-xl-3 d-flex align-items-center">
                <div id="num">355</div>
                <div
                  style="color: #232323; font-weight: 400; font-size: 16px"
                  id="account"
                >
                  <img src="./public/images/avatar.png" alt="" />
                  Антон
                </div>
              </div>

              <div
                style="margin-right: -100px"
                class="col-xl-7 d-flex align-items-center"
              >
                <div id="number">
                  <img src="./public/svg/phone.svg" alt="" /> +7 912 888 77 55
                </div>
                <div id="btn">
                  <img
                    width="21px"
                    src="./public/svg/check.svg"
                    alt=""
                  />Подтвержден
                  <img width="24px" src="./public/svg/checkdown.svg" alt="" />
                </div>
                <div id="btnView">
                  <img
                    width="21px"
                    src="./public/svg/eye.svg"
                    alt=""
                  />Подтвержден
                </div>
                <div id="comment">
                  <img src="./public/svg/comment.svg" alt="" />
                </div>
              </div>
            </div>

            <div class="client justify-content-between">
              <div class="col-xl-3 d-flex align-items-center">
                <div id="num">355</div>
                <div
                  style="color: #232323; font-weight: 400; font-size: 16px"
                  id="account"
                >
                  <img src="./public/images/avatar.png" alt="" />
                  Антон
                </div>
              </div>

              <div
                style="margin-right: -100px"
                class="col-xl-7 d-flex align-items-center"
              >
                <div id="number">
                  <img src="./public/svg/phone.svg" alt="" /> +7 912 888 77 55
                </div>
                <div id="btn" style="background: #d80000">
                  <img
                    style="margin-left: -8px"
                    width="21px"
                    src="./public/svg/err.svg"
                    alt=""
                  />Возврат
                  <img width="24px" src="./public/svg/checkdown.svg" alt="" />
                </div>
                <div id="btnView">
                  <img
                    width="21px"
                    src="./public/svg/eye.svg"
                    alt=""
                  />Подтвержден
                </div>
                <div id="comment">
                  <img src="./public/svg/comment.svg" alt="" />
                </div>
              </div>
            </div>
          </section>
          <br /><br /><br />
          <div class="snd">
            <h1 class="admin-title-nd">
              <img class="clock" src="./public/svg/clock.svg" alt="" /> 14:00
            </h1>
            <div class="full">
              <h3 class="blender">
                <img
                  style="margin-right: 13.5px"
                  src="./public/svg/bird.svg"
                  alt=""
                />
                5 / 5
              </h3>
            </div>
          </div>
          <div class="map d-flex">
            <button class="application">
              Усть-Ижма
              <div class="notification">10</div>
            </button>
            <button class="application">
              Галово
              <div class="notification">10</div>
            </button>
          </div>
          <section class="panels">
            <div class="client justify-content-between">
              <div class="col-xl-3 d-flex align-items-center">
                <div id="num">355</div>
                <div
                  style="color: #232323; font-weight: 400; font-size: 16px"
                  id="account"
                >
                  <img src="./public/images/avatar.png" alt="" />
                  Антон
                </div>
              </div>

              <div
                style="margin-right: -100px"
                class="col-xl-7 d-flex align-items-center"
              >
                <div id="number">
                  <img src="./public/svg/phone.svg" alt="" /> +7 912 888 77 55
                </div>
                <div style="background: #FCA21C;" id="btn">
                  <img 
                    width="21px"
                    src="./public/svg/check.svg"
                    alt=""
                  />Не подтвердили
                  <img width="24px" src="./public/svg/checkdown.svg" alt="" />
                </div>
                <div id="btnView">
                  <img
                    width="21px"
                    src="./public/svg/eye.svg"
                    alt=""
                  />Подтвержден
                </div>
                <div id="comment">
                  <img src="./public/svg/comment.svg" alt="" />
                </div>
              </div>
            </div>

            <div class="client justify-content-between">
              <div class="col-xl-3 d-flex align-items-center">
                <div id="num">355</div>
                <div
                  style="color: #232323; font-weight: 400; font-size: 16px"
                  id="account"
                >
                  <img src="./public/images/avatar.png" alt="" />
                  Антон
                </div>
              </div>

              <div
                style="margin-right: -100px"
                class="col-xl-7 d-flex align-items-center"
              >
                <div id="number">
                  <img src="./public/svg/phone.svg" alt="" /> +7 912 888 77 55
                </div>
                <div id="btn">
                  <img
                    width="21px"
                    src="./public/svg/check.svg"
                    alt=""
                  />Доставляется
                  <img width="24px" src="./public/svg/checkdown.svg" alt="" />
                </div>
                <div id="btnView">
                  <img
                    width="21px"
                    src="./public/svg/eye.svg"
                    alt=""
                  />Подтвержден
                </div>
                <div id="comment">
                  <img src="./public/svg/comment.svg" alt="" />
                </div>
              </div>
            </div>

            <div class="client justify-content-between">
              <div class="col-xl-3 d-flex align-items-center">
                <div id="num">355</div>
                <div
                  style="color: #232323; font-weight: 400; font-size: 16px"
                  id="account"
                >
                  <img src="./public/images/avatar.png" alt="" />
                  Антон
                </div>
              </div>

              <div
                style="margin-right: -100px"
                class="col-xl-7 d-flex align-items-center"
              >
                <div id="number">
                  <img src="./public/svg/phone.svg" alt="" /> +7 912 888 77 55
                </div>
                <div id="btn" style="background: #d80000">
                  <img
                    style="margin-left: -8px"
                    width="21px"
                    src="./public/svg/err.svg"
                    alt=""
                  />Возврат
                  <img width="24px" src="./public/svg/checkdown.svg" alt="" />
                </div>
                <div id="btnView">
                  <img
                    width="21px"
                    src="./public/svg/eye.svg"
                    alt=""
                  />Подтвержден
                </div>
                <div id="comment">
                  <img src="./public/svg/comment.svg" alt="" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>