<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="path">
                <div class="first"><a class="actived" href="/">Главная</a></div>
                <div class="next"><span>></span></div>
                <div class="second"><a style="cursor: context-menu;" href="#">Корзина</a></div>
            </div>
        </div>
        <div class="col-xl-12">
            <h1 class="title">Корзина</h1>
        </div>
    </div>
</div>

<section class="cart">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="remove">
                    <div class="remove-btn">
                        <button class="minus">
                            <div class="minus-dc"></div>
                        </button>
                        <p>Выделить всё</p>
                    </div>
                    <div class="remove-text">
                        <a href="#" class="remove_one">Удалить выбранные</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pay">
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                <div class="all-product">
                    <div class="product">
                        <div class="product_img">
                            <img src="/images/item.png" alt="image">
                        </div>
                        <div class="product_info">
                            <p class="first">Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</p>
                            <p class="second"><span>44,50 ₽</span>за шт.</p>
                        </div>
                    </div>
                    <div class="product_allprice">
                        <div class="number_of_products">
                            <button class="minus">-</button>
                            <p>2</p>
                            <button class="plus">+</button>
                        </div>
                        <div class="product_price">
                            <p>89,00 ₽</p>
                            <p class="sale">89,00 ₽</p>
                        </div>
                    </div>
                </div>
                <div class="all-product">
                    <div class="product">
                        <div class="product_img">
                            <img src="/images/item.png" alt="image">
                        </div>
                        <div class="product_info">
                            <p class="first">Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</p>
                            <p class="second"><span>44,50 ₽</span>за шт.</p>
                        </div>
                    </div>
                    <div class="product_allprice">
                        <div class="number_of_products">
                            <button class="minus">-</button>
                            <p>2</p>
                            <button class="plus">+</button>
                        </div>
                        <div class="product_price">
                            <p>89,00 ₽</p>
                            <p class="sale">89,00 ₽</p>
                        </div>
                    </div>
                </div>
                <div class="all-product">
                    <div class="product">
                        <div class="product_img">
                            <img src="/images/item.png" alt="image">
                        </div>
                        <div class="product_info">
                            <p class="first">Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</p>
                            <p class="second"><span>44,50 ₽</span>за шт.</p>
                        </div>
                    </div>
                    <div class="product_allprice">
                        <div class="number_of_products">
                            <button class="minus">-</button>
                            <p>2</p>
                            <button class="plus">+</button>
                        </div>
                        <div class="product_price">
                            <p>89,00 ₽</p>
                            <p class="sale">89,00 ₽</p>
                        </div>
                    </div>
                </div>
                <div class="all-product">
                    <div class="product">
                        <div class="product_img">
                            <img src="/images/item.png" alt="image">
                        </div>
                        <div class="product_info">
                            <p class="first">Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»</p>
                            <p class="second"><span>44,50 ₽</span>за шт.</p>
                        </div>
                    </div>
                    <div class="product_allprice">
                        <div class="number_of_products">
                            <button class="minus">-</button>
                            <p>2</p>
                            <button class="plus">+</button>
                        </div>
                        <div class="product_price">
                            <p>89,00 ₽</p>
                            <p class="sale">89,00 ₽</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="write">
                    <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                <p>Списать 200 ₽ </p>
                </div>
            </div>
        </div>
    </div>  
</section>