<div class="hero">
  <div class="container-fluid">
  </div>
</div>
<div class="form">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <form class="form_sign" action="/api/sign_in_password/sort">
        <h3 class="form_title">Вход</h3>
        <div class="form_close"><img src="/svg/form_close.svg" alt="X" /></div>
        <div class="form_input">
           <div class="error_result"><p>Неверный пароль</p></div>
          <label for="telephone" class="input_label">Телефон</label>
          <input
            type="text"
            placeholder="Телефон"
            class="input_telephone"
            name="telephone"
            required
          />
          <button class="sunmit_form_btn">Вход</button>
        </div>
        <div class="form_bottom">
          <button class="form_bottom_btn"><a
              href="#"
            >Регистрация</a></button>
          <a href="#" class="form_bottom_link">Забыли пароль?</a>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="form_password">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <form class="form_sign" action="/api/sign_in_password">
        <h3 class="form_title">Вход</h3>
        <div class="form_close"><img src="/svg/form_close.svg" alt="X" /></div>
        <div class="form_input">
          <label for="telephone" class="input_label">Пароль</label>
          <input
            type="text"
            placeholder="Пароль"
            class="input_telephone input_password"
            name="password"
            required
          />
          <button class="sunmit_form_btn password_accept">Подтвердить</button>
        </div>
        <div class="form_bottom">
          <button class="btn_prev_in_form"><img
              src="/svg/prev_form.svg"
              alt=""
            />
            <a href="/">Вернуться</a></button>
          <a href="#" class="form_bottom_link">Забыли пароль?</a>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="titlecha">
        <h2>Акции</h2>
        <a href="#">Все акции <img src="/svg/right-a.svg" alt="" /></a>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="row">
        <div class="allCards">
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/image.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/milk.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/sausage.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/meet.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container s-nd">
  <div class="row">
    <div class="col-xl-12">
      <div class="titlecha">
        <h2>Новинки</h2>
        <a href="#">Все акции <img src="/svg/right-a.svg" alt="" /></a>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="row">
        <div class="allCards">
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/image.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/milk.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/sausage.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/meet.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container t-rd">
  <div class="row">
    <div class="col-xl-12">
      <div class="titlecha">
        <h2>Покупали раньше</h2>
        <a href="#">Все акции <img src="/svg/right-a.svg" alt="" /></a>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="row">
        <div class="allCards">
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/image.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/milk.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/sausage.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="card">
              <div class="card-img">
                <a href="#"><img
                    class="i-b"
                    src="/images/likee.png"
                    alt=""
                  /></a>
                <img src="/images/meet.png" alt="" />
                <img class="i-t" src="/images/notice.png" alt="" />
              </div>
              <div class="card-info">
                <div class="price d-flex justify-content-between">
                  <div class="price1">
                    <p class="active">44,50 ₽ </p>
                    <span class="l">С картой</span>
                  </div>
                  <div class="price1">
                    <p>50,50 ₽ </p>
                    <span class="r">Обычная</span>
                  </div>
                </div>

                <div class="comment">
                  <p>Г/Ц Блинчики с мясом вес, Россия</p>

                  <div class="stars">
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                    <img src="/svg/star.svg" alt="" />
                  </div>
                </div>

                <div class="toBasket">
                  <button class="basket">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container f-th">
  <div class="row">
    <h2 class="bnr-ttl">Специальные предложения</h2>

    <div class="col-xl-12 d-flex justify-content-between">
      <div class="col-xl-6">
        <img class="r-l" src="/images/banner-hover.png" alt="" />
      </div>
      <div class="col-xl-6">
        <img class="r-i" src="/images/banner.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="container f-th">
  <div class="row">
    <h2 class="bnr-ttl">Наши магазины</h2>
    <div class="col-xl-12">
      <div class="btns">
        <button class="btn-catalog">п.Щельяюр</button>
        <button class="btn-catalog">д.Вертеп</button>
        <button class="btn-catalog">с.Краснобор</button>
        <button class="btn-catalog">д.Диюр</button>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12071.586702002425!2d69.59002139979441!3d40.852192264313935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1654215481124!5m2!1sru!2s"
        width="1200"
        height="354"
        style="border:0; margin-top: 30px; transform: translateX(40px);"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
<div class="container git f-th">
  <div class="row">
    <h2 class="bnr-ttl">Статьи</h2>
    <div class="col-xl-12">
      <div class="row justify-content-between" style="width: 1200px;">
        <div class="col-xl-3">
          <div class="card-nd">
            <div class="card-img-nd">
              <img src="/images/mask.jpg" alt="" />
            </div>
            <div class="card-info-nd">
              <span>05.03.2021</span>
              <h3>Режим использования масок и перчаток на территории магазинов</h3>
              <p>Подробная информация о режимах использования масок и перчаток
                на территории магазинов "ЛЕНТА". Информация обновляется каждый
                будний день.</p>
              <button>Подробнее</button>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card-nd">
            <div class="card-img-nd">
              <img src="/images/gul.jpg" alt="" />
            </div>
            <div class="card-info-nd">
              <span>05.03.2021</span>
              <h3>Режим использования масок и перчаток на территории магазинов</h3>
              <p>Подробная информация о режимах использования масок и перчаток
                на территории магазинов "ЛЕНТА". Информация обновляется каждый
                будний день.</p>
              <button>Подробнее</button>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="card-nd">
            <div class="card-img-nd">
              <img src="/images/fruits.jpg" alt="" />
            </div>
            <div class="card-info-nd">
              <span>05.03.2021</span>
              <h3>Режим использования масок и перчаток на территории магазинов</h3>
              <p>Подробная информация о режимах использования масок и перчаток
                на территории магазинов "ЛЕНТА". Информация обновляется каждый
                будний день.</p>
              <button>Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/script/index.js"></script>
<script src="/script/script.js"></script>